/*
***************************************************************************************************

  	nznl.com | nznl.net | nznl.org Internet Productions
	Geert Dekkers Web Studio, 2008, 2009
	info@nznl.net

	_menu.css for EMMA
	
***************************************************************************************************	
*/

div.header{
	position: absolute;
	height: 52px;
}

div.menubar{
	position: absolute;
	padding-top: 0px;
	padding-left: 11px;
	padding-right: 3px;
	height: 594px;
	width: 175px;
	margin-top: 24px;
}


ul.LN-menubar{
	display: inline;
	padding: 7px;
	margin-left: 15px;
	
}

ul.LN-menubar li{
	display: inline;
	padding-left: 0;
	line-height: 19px;
}

ul.LN-menubar li a{
	color: #23918C;
	text-decoration: none;
}

ul.LN-menubar li a:hover{
	background-color: #23918C;
	color: white;

}

a.LN-menubar-header-active{
	font-weight: bold;
	text-decoration: underline;
	border: 1px solid black;
	padding: 3px;
}

div#LN-menu-list-header{
	height: 7px;
	width: 200px;
	background-color: #ccddcc;
	padding: 0px;
	margin-left: 0px;
	margin-top: 21px;
	border-bottom: 1px solid #ddccdd;
	border-top: 1px solid #ddccdd;
}

div#menuContent{
	margin-top: 11px;
	overflow: hidden;
}

div#menuContent ul{
	position: relative;
	left: -10px;
	margin-right: 0px;
	padding-right: 2px;
	width: 168px;
	overflow: hidden;
	border-right: 1px solid #ddccdd;

}

div#menuContent li{
	position: relative;
	left: -27px;
	background-image: url(/s/_img_interface/folder.gif);
	background-repeat: no-repeat;
	padding-left: 21px;
	height: 21px;
	
	
}

div#menuContent hr{
	margin-top: 21px;
	margin-bottom: 11px;
}

div#LN-menubarDivider{
	margin-left: 74px;
}

div.LN-menu-tagContainer-cloud{
	display: inline;
}

div.LN-menu-tagContainer-list{
	display: block;
}



div.LN-menu-tagContainer span{
	padding-left: 3px;
}

div#menuContent a{
	color: #334433;
	text-decoration:none;
}

div#menuContent a:hover{
	text-decoration: underline;
}

li.level0{
	font-weight: bold;
	list-style: none;
	font-size: 12px;
	list-style: none outside;
	
}

li.level1{
	font-weight: bold;
	list-style: none;
	font-size: 12px;
	list-style: none outside;
	
}

li.level1 li{
	font-weight: normal;
}


li.level2{
	
	list-style: none outside;
	margin-left: 7px;
}

li.level3{
	list-style: none outside;
	margin-left: 11px;
	
}

li.level4{
	list-style: square;
	display: inline;
	margin-left: 15px;
}

li.LN-number-items{
	font-style: italic;
	list-style: none;
	}
li.LN-no-display{
	display: none;
}

a.LN-alphabetTags{
	color: #444444;
	font-size: 14px;
	text-transform: uppercase;
}

div.menu-passive{
	font-weight: bold;
	font-size: 12px;
	overflow: hidden;
	padding-top: 0;
	cursor: pointer;
	margin-left: 13px;
	margin-top: 3px;
	margin-bottom: 5px;
	
}

div.menu-active{
	font-weight: bold;
	font-size: 12px;
	overflow: hidden;
	cursor: pointer;
	margin-left: 13px;
	
}

div.LN-tagPager{
	margin-bottom: 11px;
	font-size: 10px;
}
