{% load more_like_this highlight i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>beeldnet test search</title>
	<style type="text/css" media="screen">
		span.highlighted{
			background-color: yellow;
		}
	</style>
</head>

<body><span id="debug"></span>
	<form method="get" action=".">
	<div style="height: 74px; width: 100%; border: 1px solid green">  
		<table style="float: left">
	        {{ form.as_table }}
	        <tr>
	            <td>&nbsp;</td>
	            <td>
	                <input id="form_search" type="submit" value="Search">
	            </td>
	        </tr>
	    </table>
		{% if sqs %}{% trans "did you mean" %} <a href="{% url emma.search.views.search %}?q={{sqs}}">{{sqs}}</a>?{% endif %}
		<a id="cr_no" href="{% url haystack_search_cr_no %}?q={{query}}">{% url haystack_search_cr_no %}</a>
		<a id="cr_yes" href="{% url haystack_search_cr_yes %}?q={{query}}">{% url haystack_search_cr_yes %}</a>
		<a id="all" href="{% url search %}?q={{query}}">{% url search %}</a>
		{% if page.has_previous or page.has_next %}
          <div style="float: right">
		  <div>{{paginator.count}} {% trans "results" %}</div>
              {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
              |
              {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
          </div>
		{% endif %}
	</div>
	<hr style="clear: all" />
	{% if query %}

	<div style="min-height: 420px; width: 100%; border: 1px solid black">        
		{% for result in page.object_list %}
	            <div style="float: left; margin-right: 7px; width: 148px; height: 210px">
	                <a href="{{ result.object.get_absolute_url }}"><img src="/gallery/thumbs/{{ result.object.image_LNID }}.jpg" /></a><br>
					{% highlight result.object.keywords with query %}<br>
					{% highlight result.object.image_LNID with query %}<br>
					{% highlight result.object.source with query %}<br>
					{{result.object.copyright}}
	            </div>
	        {% empty %}
	            <p>No results found.</p>
	        {% endfor %}
	</div>
	    {% else %}
	        {# Show some example queries to run, maybe query syntax, something else? #}
	    {% endif %}
	</form>
	<div style="clear: all"></div>
	<hr>
	<h3>{% trans "More like this" %}</h3>
	{% if mlt %}
	{% more_like_this mlt as related limit 10 %}
	{% for image in related %}
	<img src="/gallery/thumbs/{{image.image_LNID}}.jpg" />
	{% endfor %}
	{% endif %}
	
</body>
</html>
