{% extends 'base.html' %}
{% load more_like_this highlight i18n thumbnail images_extras gui_utils %}
{% block title %}{% trans "search" %}: {{query}}{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" href="/s/fancybox/jquery.fancybox-1.3.1.css" type="text/css" media="screen" title="no title" charset="utf-8">
<!--[if IE]>
	<link rel="stylesheet" href="/s/_css/_ie.css" type="text/css" media="screen" title="no title" charset="utf-8">
<![endif]-->
{% endblock %}
{% block extrahead %}
	<script src="/s/fancybox/jquery.fancybox-1.3.1.js" type="text/javascript" charset="utf-8"></script>
	<script src="/s/fancybox/jquery.easing-1.3.pack.js" type="text/javascript" charset="utf-8"></script>
	<script src="/s/fancybox/jquery.mousewheel-3.0.2.pack.js" type="text/javascript" charset="utf-8"></script>
	<script src="/jsi18n/" type="text/javascript" charset="utf-8"></script>   
	<script src="/s/feedback/jquery.form.js"></script>
   	<script src="/s/feedback/main.js"></script>
	<script src="/s/_javascript/gui.js" type="text/javascript" charset="utf-8"></script>

{% endblock %}
</head>

{% block content %}
<span id="debug"></span>
	{% include 'includes/menu-include.html' %}
	<div class="main">		
		<div class="nav">  
			<div id="searchform">		
				<form id="search" method="get" action=".">
			       {% for f in form %}{{f}}{% endfor %}
			    	<input id="form_search" type="submit" value="{% trans 'Search' %}">
			  	</form>
			</div>			
			<div class="filters">	
				<span>filter</span>			
				<a id="cr_no" href="{% url haystack_search_cr_no %}?q={{query}}">
					<button>
						<img border="0" src="/s/_img_interface/copyright-no.png" width="10" height="10" alt="Copyright No">
						{% trans "no copyright" %}
					</button>
				</a>

				<a style="" id="all" href="{% url search %}?q={{query}}"><button>{% trans "reset" %}</button></a>
			</div>			
			
	          <div class="pager">
				  <div><span>{{paginator.count}} {% trans "results" %}</span></div>
		              {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; {% trans "Previous" %}{% if page.has_previous %}</a>{% endif %}
		              <div title="{% trans 'Click to change the sorting order' %}" id="page_size">{{page_size}} p.p.</div>
		              {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}{% trans "Next" %} &raquo;{% if page.has_next %}</a>{% endif %}
	          </div>
	
		</div> <!-- end nav -->
		
		<div id="dym">
				{% if sqs %}
				{% trans "did you mean" %} 
					<a href="{% url emma.search.views.search %}?q={{sqs|cut:"("|cut:"AND"|cut:")"|replace:"/  / "}}">{{sqs|cut:"("|cut:"AND"|cut:")"|replace:"/  / "}}</a>?
				{% endif %}
		</div>

		
		<div class="divider"></div>
		{% if query %}
		<div id="results">        
			{% for result in page.object_list %}
		            <div class="item" id="item-{{result.object.image_LNID}}">
						<div class="header">
							{% if result.object.copyright %}
							<img  title="{% trans 'copyright owed' %}" src="/s/_img_interface/copyright-yes.png" width="10" height="10" alt="Copyright Yes">
							{% else %}
							<img title="{% trans 'copyright settled' %}" src="/s/_img_interface/copyright-no.png" width="10" height="10" alt="Copyright No">
							{% endif %}
							{% if result.object.document %}
							<img title="{% trans 'this item contains an attachment'%}" style="cursor: help" border="0" src="/s/_img_interface/attachment.png" width="10" height="10" alt="Attachment">
							{% endif %}
						</div>
						<div class="image">      
							<a name="{{result.object.image_LNID}}" class="group" rel="main" href="/gallery/images/{{result.object.image_LNID}}.jpg">
								
								{% thumbnail result.object.get_image 148x148 crop upscale as image %}
								<img class="item-image"  src="{{image}}" border="0" width="{{image.width}}" height="{{image.width}}" alt="{{result.object.subject|truncate:100}}" />
							</a>
						</div>						
						<div class="label">{{result.object.subject|truncate:30}}</div>
						<div class="data">				
							{{result.object.keywords|to_queries}}
						</div>
						<div class="item-nav">
							<a id="{{result.object.image_LNID}}" class="iframe detail" {% if perms.interface.can_edit_content %} href="/admin/interface/metadata/{{result.object.id}}/" {% else %} href="/interface/show/description/{{result.object.image_LNID}}/1/"{% endif %}>
								<img border="0" src="/s/_img_interface/information/15px.png" width="15" height="15" alt="{{result.object.subject}}">
							</a>
							<a class="add-to-cart" title="{% trans 'add to cart' %}" href="#" onclick="$.get('{% url add_item result.object.image_LNID %}');">
								<img src="/s/_img_interface/cart-grey/15px.png" width="15" height="15" alt="{% trans 'add to cart' %}" border="0" />
							</a>							
						</div>
		            </div>
		        {% empty %}
		            <p>{% trans "No results found" %}. {% trans "If you filtered the results, you might try clicking the" %} '{% trans "reset search" %}' {% trans "button" %}</p>
					{% if sqs %}
					{% ifnotequal partition|length 1 %}
					<p>{% trans "You may also try the spelling suggestions as seperate words:"%} | {% for item in partition %}<a href="/search/?q={{item}}">{{item}}</a> | {% endfor %}</p>
					{% endifnotequal %}
					{% endif %}
		        {% endfor %}
		</div>
		<div class="divider"></div>
		<div class="pager">	
			{% if page.has_previous %}<a class="active" href="/{{url}}{{ page.previous_page_number }}">{% endif %}&laquo; {% trans "Previous" %}{% if page.has_previous %}</a>{% endif %}
		    {% if page.has_next %}<a class="active" href="/{{url}}{{ page.next_page_number }}">{% endif %}{% trans "Next" %} &raquo;{% if page.has_next %}</a>{% endif %}
		</div>
		{% else %}
		     <div class="text" style="display: block; width: 71%; padding: 11px; margin: auto">
				<p>{% trans "Enter a search query into the box above. You may filter your results by clicking the green button (no copyright). Click the reset button to continue with the full results set." %}</p>
				<p>{% trans "To return to the home page, click the" %} "{% trans "home" %}" {% trans "button in the top menu." %}</p>
				<p>{% trans "We welcome any comments you may have about this new feature. Click the feedback button on the left side of this page to enter a comment." %}</p>
			</div>
		{% endif %}
	</div>
	
	<div id="metadata" style="display: none"></div>
	{% include 'includes/cart-include.html' %}
	{% include 'includes/pagerange-include.html' %}
	
{% endblock %}
