{% load i18n thumbnail images_extras %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{% block title %}{% endblock %}</title>
	<link rel="shortcut icon" href="/s/_img_interface/favicon.ico" />
	<link rel="stylesheet" href="/s/_css/_gui.css" type="text/css" media="screen" title="no title" charset="utf-8" />
	{% block extrastyle %}{% endblock %}
	<script src="/s/_javascript/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/jsi18n/" type="text/javascript" charset="utf-8"></script>
	{% block extrahead %}{% endblock %}
</head>
	
	<body>
		<div class="masthead" title="Terug naar BeeldNET" onclick="location.href='/interface/'" style="">
			{% include "includes/header-links.html" %}
		</div>

	{% block content %}{% endblock %}
	</body>
</html>