<div style="margin-top: 29px; margin-left: 21px; width: 570px; ">
	<div class="LN-help">	
		<div class="subheader" onclick="toggleHelpContentContainers(this,210)">
		<img style="margin-right: 21px" src="/s/_img_interface/triangle-orange-right.png" width="11" height="11" alt="Triangle Orange" /> Wat is de betekenis van de gekleurde bolletjes?
		</div>
		<div class="LN-helpContent" style="display: none">		
			<img align="left" class="illLeft" src="/s/_ill/copyright_betalen.jpg" width="152" height="153" alt="Copyright Betalen" />
				<p>
					Stip in rood, groen of oranje geeft aan of er copyrights moeten worden betaald. De overige copyright-informatie (zoals wel of geen naamsvermelding, toestemming vragen voor elke publicatie, voorbeeldexemplaren versturen) staat vermeld in het grijze informatievlak. De content managers checken alle downloads op copyrights. Indien een beeld met rode stip in productie wordt genomen, sturen de content managers een voorbeeldexemplaar aan de fotograaf. De factuur laten zij versturen aan de betreffende projectleider.
				</p>
		</div>	
	</div>
	<div class="LN-help">		
		<div class="subheader" onclick="toggleHelpContentContainers(this,210)">
			<img style="margin-right: 21px" src="/s/_img_interface/triangle-orange-right.png" width="11" height="11" alt="Triangle Orange" /> Wat is de betekenis van het uitroepteken?
		</div>
		<div class="LN-helpContent" style="display: none">		
			<img class="illLeft" align="left" style="border: 1px solid #ddccdd" src="/s/_ill/exclamation-mark.jpg" width="148" height="148" alt="Exclamation Mark">
				<p>Een uitroepteken geeft aan dat een beeld nog niet drukklaar is. De content managers zullen je per e-mail vragen welke beelden er van een download in productie worden genomen. Zij laten die beelden binnen 4 werkdagen drukklaar maken en plaatsen het beeld vervolgens (zonder uitroepteken!) in BeeldNet terug. Is de werktekening klaar om aangeleverd te worden bij de drukker? Dan kunnen we via BeeldNet de drukklare beelden downloaden om mee te sturen naar de lithograaf. </p>
		</div>	
	</div>

	<div  class="LN-help">
		<div class="subheader" onclick="toggleHelpContentContainers(this,333)">
		<img style="margin-right: 21px" src="/s/_img_interface/triangle-orange-right.png" width="11" height="11" alt="Triangle Orange" /> Welke informatie staat er in het grijze vlak onder de afbeelding?
		</div>
		<div class="LN-helpContent" style="display: none">	
			<img align="left" class="illLeft" src="/s/_ill/info-panel.jpg" style="border: 1px solid #ddccdd" width="269" height="267" alt="Info Panel" />
			<p>In dit vlak staat alle informatie die van een beeld bekend is. In ieder geval de naam van de fotograaf, de datum en locatie van de foto-opname, de trefwoorden die bij een beeld zijn ingevoerd, de copyrightinformatie, etc.</p>
		</div>	
	</div>
	<div class="LN-help">
		<div class="subheader" onclick="toggleHelpContentContainers(this,370)">
		<img style="margin-right: 21px" src="/s/_img_interface/triangle-orange-right.png" width="11" height="11" alt="Triangle Orange" /> Hoe vergroot ik de kleine beelden?
		</div>
		<div class="LN-helpContent" style="display: none">		
			<object style="border: 1px solid #ddccdd" width="420" height="262" classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B" codebase="http://www.apple.com/qtactivex/qtplugin.cab">
				<param name="src" value="/s/_ill/lightbox-cart-download-embedded.mov">
				<param name="controller" value="true">
				<param name="autoplay" value="true">
				<embed src="/s/_ill/lightbox-cart-download-embedded.mov"
					width="420" height="262"
					controller="true" autoplay="true"
					scale="tofit" cache="true"
					pluginspage="http://www.apple.com/quicktime/download/"
				>
			</object>

				<p><a href="/s/_ill/lightbox-cart-download.mov" target="_blank">Bekijk grote versie van deze clip</a></p>
				<p>Met een muisklik op een beeld vergroot je het beeld in een lightbox. Door op het kruis-vlak te klikken, kom je terug bij de kleine beelden. Je kunt er ook voor kiezen om verder door de vergrotingen te lopen met de < en > knoppen.</p>
		</div>	
	</div>
	
	<div class="LN-help">
		<div class="subheader" onclick="toggleHelpContentContainers(this,550)">
		<img style="margin-right: 21px" src="/s/_img_interface/triangle-orange-right.png" width="11" height="11" alt="Triangle Orange" /> Hoe zoek ik op trefwoord en categorie?
		</div>
		<div class="LN-helpContent" style="display: none">
			<div class="ill" style="float: right; margin-left: 11px; margin-bottom: 11px">
				<object width="205" height="342" classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B" codebase="http://www.apple.com/qtactivex/qtplugin.cab">
					<param name="src" value="/s/_ill/menu.mov">
					<param name="controller" value="true">
					<param name="autoplay" value="true">
					<embed src="/s/_ill/menu.mov"
						width="205" height="342"
						controller="true" autoplay="true"
						scale="tofit" cache="true"
						pluginspage="http://www.apple.com/quicktime/download/"
					>
				</object>
				
			</div>

			<p>Ieder beeld in BeeldNET kun je op drie manieren vinden: via het beeldnummer,  via de trefwoorden of via de categorie.</p>
			<p>Alle fotografie die speciaal voor de loterijen is gemaakt, vind je in de categorieën Nationale Postcode Loterij, Sponsor Bingo Loterij en BankGiro Loterij. Elke loterij heeft dezelfde vaste subcategorieën: Beneficiënten, Evenementen, Goed Geld Gala, Prijzen, TV.</p>
			
			<p>De handtekeningen en portretten van personen staan juist voor alle loterijen samen in de mappen Handtekeningen en Personen. Beide mappen zijn alfabetisch geordend op voornaam van de betreffende persoon. Tot slot zijn er drie mappen met algemene fotografie: Natuur, Mens/Kind of Dier. Dit is voornamelijk stockfotografie die (na gebruik in drukwerk) in BeeldNet mocht worden opgenomen. Fotografie van het personeel en de directie van de loterijen hebben een plaats gekregen in de map Van Eeghenstraat 70.</p>

			<p>Als je op een categorie klikt, krijg je de eventuele subcategorien te zien en kun je dus doorklikken. In het middendeel van BeeldNet is steeds de hele inhoud van de (sub)categorie te zien. Bij alle zoekacties die je in BeeldNet doet, staat rechtsboven staat het aantal beelden dat in die betreffende selectie zit. </p>


			<p>Om het zoeken op trefwoord makkelijker te maken, staat er in BeeldNet onder de knop Trefwoorden een lijst met alle trefwoorden die in BeeldNet voorkomen. Bovenaan staan een cijferreeks en een alfabet, je zoekt dus op beginletter of begincijfer. Achter elk trefwoord staat tussen haakjes in hoeveel beelden dit specifieke trefwoord voorkomt. Klik op het trefwoord om de beelden te zien. Sommige letters hebben zoveel trefwoorden, dat er meerdere pagina's nodig zijn. Met volgende&gt; en &lt;vorige kun je snel door die pagina's lopen. Binnen de letters zijn de trefwoorden ook weer alfabetisch geordend.</p>

			<p>Je kunt de trefwoorden ook laten weergeven in een "wolk". Hoe meer beelden er bij een trefwoord horen, hoe groter de lettergrootte van dat trefwoord in de lijst. Door op lijst te klikken, keer je weer terug naar de normale weergave.</p>
		</div>
		
	</div>
	
	<div class="LN-help">	
		<div class="subheader" onclick="toggleHelpContentContainers(this,420)">
			<img style="margin-right: 21px" src="/s/_img_interface/triangle-orange-right.png" width="11" height="11" alt="Triangle Orange" /> Hoe kan ik zien welke zoekopdracht ik heb gedaan? 
		</div>

		<div class="LN-helpContent" style="display: none">	
			<p><object  style="border: 1px dashed #ddccdd" width="509" height="373" classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B" codebase="http://www.apple.com/qtactivex/qtplugin.cab">
				<param name="src" value="/s/_ill/filter.mov">
				<param name="controller" value="true">
				<param name="autoplay" value="true">
				<embed  style="border: 1px dashed #ddccdd" src="/s/_ill/filter.mov"
					width="509" height="373"
					controller="true" autoplay="true"
					scale="tofit" cache="true"
					pluginspage="http://www.apple.com/quicktime/download/"
				>
			</object>
			</p>

			<p>Onder het logo van BeeldNet staat met een onderstreping het woord waarop je hebt gezocht. Als je op dat woord klikt met de muis kun je de selectie nog verder toespitsen op loterij of actualiteit.</p>
			</p>	
		</div>
	</div>
	<div class="LN-help">	
		<div class="subheader" onclick="toggleHelpContentContainers(this,550)">
			<img style="margin-right: 21px" src="/s/_img_interface/triangle-orange-right.png" width="11" height="11" alt="Triangle Orange" /> Hoe werkt de type ahead functie in het open zoekveld?
		</div>

		<div class="LN-helpContent" style="display: none">	
			
			<p><object width="507" height="365" classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B" codebase="http://www.apple.com/qtactivex/qtplugin.cab">
				<param name="src" value="/s/_ill/typeahead.mov">
				<param name="controller" value="true">
				<param name="autoplay" value="true">
				<embed src="/s/_ill/typeahead.mov"
					width="507" height="365"
					controller="true" autoplay="true"
					scale="tofit" cache="true"
					pluginspage="http://www.apple.com/quicktime/download/"
				>
			</object>
			</p>
			<p><a target="_blank" href="/s/_ill/typeahead-large.mov">Bekijk grotere versie van deze clip</a></p>
			

			<p>Als je een woord typt in het witte zoekveld rechts naast het logo van BeeldNet, verschijnt er vanzelf een lijst met woorden. Al deze woorden zijn in BeeldNet op een of andere manier gelinkt aan het ingetypte woord. Op deze manier kun je dus zoeken op een combinatie van twee woorden. Het is te vergelijken met de manier waarop je in Google het plus-teken kunt gebruiken om een zoekopdracht te verfijnen. BeeldNet helpt een handje door de mogelijke combinatie van woorden alvast voor je op een rij te zetten. Klik op het woord in de uitgeklapte lijst om de zoekopdracht te laten uitvoeren.</p>
		</div>
	</div>
	<div class="LN-help">
		<div class="subheader" onclick="toggleHelpContentContainers(this,350)">
			<img style="margin-right: 21px" src="/s/_img_interface/triangle-orange-right.png" width="11" height="11" alt="Triangle Orange" /> Hoe krijg ik een afbeelding naar mijn eigen computer?
		</div>
		<div class="LN-helpContent" style="display: none">		
	
					<object style="border: 1px solid #ddccdd" width="420" height="262" classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B" codebase="http://www.apple.com/qtactivex/qtplugin.cab">
					<param name="src" value="/s/_ill/addtocart.mov">
					<param name="controller" value="true">
					<param name="autoplay" value="true">
					<embed src="/s/_ill/addtocart.mov"
						width="420" height="262"
						controller="true" autoplay="true"
						scale="tofit" cache="true"
						pluginspage="http://www.apple.com/quicktime/download/"
					>
					</object>
	

				<p>Downloaden van een beeld gaat via het "mandje" in de rechterkolom van BeeldNet. Het beeld kan met de muis naar het mandje worden gesleept. Als het beeld vergroot is in een lightbox, staat er een knop om het beeld in het mandje te stoppen.</p>
		</div>	
	</div>
	
	
	<div class="LN-help">	
		<div class="subheader" onclick="toggleHelpContentContainers(this,210)">
			<img style="margin-right: 21px" src="/s/_img_interface/triangle-orange-right.png" width="11" height="11" alt="Triangle Orange" /> Hoe gebruik ik de Favorieten-balk?  
		</div>

		<div class="LN-helpContent" style="display: none">	
			<div style="float: right; margin-left: 5px; margin-bottom: 5px">
				<img src="/s/_ill/favorites_panel.png" width="200" height="179" alt="Favorites Panel" />
				<div class="label">
						Favorites paneel
				</div>
			</div>

			<p>In de Favorieten-balk kun je alle beelden die je niet direct wil gaan downloaden, bewaren voor later. Op het moment dat je een beeld naar je Favorieten sleept, opent zich een zwart vlak met een wit invulveld. Daarin kun je zelf een trefwoord invoeren, zodat je later het beeld kunt terugvinden. Bijvoorbeeld door de naam van de mailing of campagne in te voeren. Deze zelf aangemaakte trefwoorden zijn alleen actief in jouw eigen Favorieten-balk. Klik op bewaren om het beeld met nieuw eigen trefwoord in je Favorieten op te slaan.</p>

			<p>Klik je op het plusteken rechtsboven, dan wordt de Favorieten-balk paginagroot. Met het minteken gaat hij weer terug naar zijn oude formaat. Beelden uit je Favorieten verwijder je door op de X te klikken. BeeldNet vraagt dan wel om bevestiging of je het beeld echt wilt verwijderen.</p>

			<p>Klik je op het kruisje, dan verdwijnt je Favorieten-balk. Klik op "favorites" in de oranje menubalk op deze weer tevoorschijn te halen.</p>
		</div>
	</div>
	
	<div class="LN-help">	
		<div class="subheader" onclick="toggleHelpContentContainers(this,52)">
			<img style="margin-right: 21px" src="/s/_img_interface/triangle-orange-right.png" width="11" height="11" alt="Triangle Orange" /> Hoe wijzig ik mijn wachtwoord? 
		</div>

		<div class="LN-helpContent" style="display: none">	

			<p>Klik op de knop admin in de oranje balk rechts naast het logo van BeeldNet. Als je vervolgens klikt op password veranderen, kom je in een veld waarin je 1 keer je oude en 2 keer je nieuwe password moet intypen. Als je op change my password klikt, ben je klaar. De eerstvolgende keer dat je inlogt is je nieuwe password actief.</p>

		</div>
	</div>
	<!--
	<div class="LN-help">	
		<div class="subheader" onclick="toggleHelpContentContainers(this,37)">
			<img style="margin-right: 21px" src="/s/_img_interface/triangle-orange-right.png" width="11" height="11" alt="Triangle Orange" /> Hoe meld ik een probleem of doe ik een verzoek?
		</div>

		<div class="LN-helpContent" style="display: none">	

			<p>Klik <a href="/helpdesk/">hier</a> om een verzoek te doen of een probleem over de werking van BeeldNET te melden..</p>

		</div>
	</div>
-->
<div>Support: 020 3058800 <a href="mailto:beeldnetsupport@schepper.nl?subject=Hulp bij BeeldNET">beeldnetsupport@schepper.nl</a></div>
	
	
	
</div>