{% load i18n %}
<ul>
	<li><a href="/">home</a> | </li>
	<li><a href="/stockbureaus/">stockbureaus</a> | </li>
	<li><a title="{% trans 'change your password' %}" href="/admin/password_change/">{% trans 'change your password' %}</a> | </li>
	<li><a title="{% trans 'manage your downloads' %}" href="/manage">{% trans 'manage your downloads' %}</a> | </li>
	<li><a title="{% trans 'new search engine' %}" href="/search">{% trans 'new search engine' %}</a> | </li>
	<li><a title="{% trans 'show help pages' %}" href="/help/">help</a> | </li>
	<li> <a title="Logout" href="/accounts/logout">logout</a></li>	
</ul>
