/*
***************************************************************************************************

  	nznl.com | nznl.net | nznl.org Internet Productions
	Geert Dekkers Web Studio, 2008 
	info@nznl.net

	_help.css for BeeldNET
	
***************************************************************************************************	
*/


div.LN-help{
	margin-bottom: 21px
}


div.LN-help div.subheader{
	cursor: pointer;
	border-top: 1px solid white;
}

div.LN-help div.subheader:hover{
	border-top: 1px dashed #ddccdd;
}

/* General content styles */

.general{
	
	padding-left: 52px;
	padding-top: 21px;
	font-size: 10px;
}

div.content_main{
	
	width: 467px;
	float: left;
	
	
}

div.content_right{
	
	float: right;
	border-left: 1px dashed #ff2b00;
	padding-left: 37px;
}

/* inner content styles */


div.content_news_header{
	
	font-size: 10px;
	font-weight: bold;
	text-align: left;
	text-decoration: underline;
	
}	

div.content_news_body{
	
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 10px;
	text-align: left;

}
div.content_news_element{
	font-size: 11px;
	text-align: left;
	width:148px;
	margin-bottom:11px;
}

.content_news_element div{
	padding-bottom:7px;
}
div.content_index_body{
	line-height: 18px;	
	font-size: 14px;

}



div.readmoreLink{
	text-align: right;
	margin-top: 11px;
}
 
div.footer{
	padding-top: 21px;
	font-size: 9px;
}

div.header_contact{
	padding-right:15px;
	line-height:20px;
	font-size: 14px;
	color:#ff2b00
}


div.crumbs{
	
	
	font-style: italic;
	font-size: 10px;
	margin-bottom: 21px;
	text-align: left;
	
	
}
div.textHeader{
	font-size: 21px;
	font-weight: bold;
	margin-bottom: 21px;
	color: #ff2b00;
	text-align: left;
}

div.subheader{
	font-style: italic;
	font-size: 14px;
	text-align: left;
	margin-bottom: 21px;
	
}
div.subheader0{
	font-style: italic;
	font-weight: bold;
	font-size: 16px;
	text-align: left;
	
}
div.subheader1{
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 7px;
	text-align: left;
}

div.subheader2{
	color: #ff2b00;
	font-size: 15px;
	font-style: italic;
	font-weight: bold;
	text-align: left;
}

div.subheader3{
	color: #ff2b00;
	font-size: 13px;
	margin-bottom: 11px;
	text-align: left;
	font-weight: bold;
}

div.summary{
	font-size: 13px;
	color: #112211;
	text-align: left;
}

div.label{
	width: 100%;
	font-size: 9px;
	font-style: italic;
	text-align: center;
}

img.illRight{
	
	margin-bottom: 11px;
	margin-left: 11px;
}

img.illLeft{
	
	margin-bottom: 11px;
	margin-right: 29px;
	margin-left: 0px;
}

div.ill{
	border: 1px solid #ddccdd;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	
}

p{
	text-align: justify;
}
