{% load images_extras %}
{% load comments %}
{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="author" content="nznl.com | nznl.net | nznl.org Internet Productions, Geert Dekkers Web Studio, 2008" />
	<meta name="robots" content="noindex, nofollow" />
	<meta name="robots" content="none, noarchive" />
	<title>{{title}}</title>
	<link rel="shortcut icon" href="/s/_img_interface/favicon.ico" />
	<link rel="stylesheet" href="/s/_css/_common.css" type="text/css" media="screen" title="no title" charset="utf-8" />
	<script src="/s/_javascript/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">
		$(function(){
			$('input#id_name').val('{{request.user.first_name}} {{request.user.last_name}}');
			$('input#id_email').val('{{request.user.email}}');
			$('input#id_url').closest('p').hide();
		})
	</script>
	
</head>
<body>
<div style="margin-top: 42px">
	<div class="description-image" style="">
		<img src="/gallery/images/{{item}}.jpg" width="350" border="0" />
	</div>
	<div class="description-layout" style="">
	
	{% for mdict in dataDict %}


	{% if mdict.subject %}
	<div class="content_news_header">Titel</div>
	<div class="content_news_body"> {{ mdict.subject|safe }}</div>
	{% endif %}


	{% if mdict.description %}
	{% ifequal i 1 %}
	<div class="content_news_header">Beschrijving</div>
	<div class="content_news_body"> {{ mdict.description|safe }}</div>
	{% endifequal %}
	{% endif %}

	{% if mdict.location %}
	<div class="content_news_header">Lokatie</div>
	<div class="content_news_body"> {{ mdict.location|safe }}</div>
	{% endif %}

	{% if mdict.source %}
	<div class="content_news_header">Bron</div>
	<div class="content_news_body"> {{ mdict.source|safe }}</div>
	{% endif %}

	{% if mdict.datetimeoriginal %}
	<div class="content_news_header">Aanmaakdatum</div>
	<div class="content_news_body"> {{ mdict.datetimeoriginal|safe }}</div>
	{% else %}
	{% if mdict.softdate %}
	<div class="content_news_header">Aanmaakdatum</div>
	<div class="content_news_body"> {{ mdict.softdate|safe }}</div>
	{% endif %}
	{% endif %}


	{% if mdict.instructions %}
	<div class="content_news_header">Credit</div>
	<div class="content_news_body"> {{ mdict.instructions|safe }}</div>
	{% endif %}

	{% if mdict.creator %}
	<div class="content_news_header">Auteur</div>
	<div class="content_news_body"> {{ mdict.creator|safe }}</div>
	{% endif %}

	{% if mdict.credit %}
	<div class="content_news_header">Instructies</div>
	<div class="content_news_body"> {{ mdict.credit|safe }}</div>
	{% endif %}

	{% if mdict.keywords %}
	<div class="content_news_header">Trefwoorden</div>
	<div class="content_news_body"> {{ mdict.keywords|safe }}</div>
	{% endif %}
	{% endfor %}
		{% if m %}
		<div class="comments">	
			<h2>Commentaar</h2>
			<p>Gebruikers kunnen hier op- en aanmerkingen plaatsen over dit beeld.</p>
			{% get_comment_list for m as comment_list %}
			{% for comment in comment_list %}
				 <dl>
					 <dt>{{comment.submit_date|date:"D j-M-y"|lower}} {% trans "door" %}{% if comment.user_name %} {{comment.user_name}}{% else %}{% trans 'Anoniem' %}{% endif %}</dt>
					 <dd>{{comment.comment}}</dd>
				 </dl>
			 {% endfor %}
			<p>Wil je ook een opmerking plaatsen? Stuur een bericht!</p>
			{% render_comment_form for m %}
		</div>
		{% endif %}
	</div>
</div>
</body>
</html>
