{% block content %}
{% for d in dirlist %}
<div id="{{d}}" class="menu-passive">
	<a title="{{crumbs}}/{{d}}" href="#" onclick="doShowMenu('{{d}}','{{mList}}{{d}}');doShowThumbs('_ALL_','{{mList}}{{d}}',1000,1);$('content_crumbs').update('{{crumbs}}/{{d}}'.truncate(37));toggleMenuImg('img-{{d}}')" >
		<img id="img-{{d}}" style="margin-right: 5px" border="0" src="/s/_img_interface/triangle-bluegreen-right.png" width="9" height="9" alt="Triangle Bluegreen Right" />
		{{d}}
	</a>
</div>
{% endfor %}
{% endblock %}