{% load i18n %}
<ul>
	<li><a href="/">home</a> | </li>
	<li><a href="/stock-bureaus/">stockbureaus</a> | </li>
	<li><a title="{% trans 'change your password' %}" href="/admin/password_change/">{% trans 'change your password' %}</a> | </li>
	<li><a title="{% trans 'manage your downloads' %}" href="/manage">{% trans 'manage your downloads' %}</a> | </li>
	<li><a title="{% trans 'show help pages' %}" href="/interface/show/help/">help</a> | </li>
	<li> <a title="Logout" href="/accounts/logout">logout</a></li>	
</ul>
