{% load i18n %}
<!-- includeThumbs -->
<dt>
	<img title="{% trans 'Add this item to your basket'%}" style="cursor: pointer" onclick="createEntry('{{pg.image_LNID}}')" src="/project/_img_interface/arrow.png" border="0" width="94" height="10" alt="{% trans 'Add this item to your basket'%}" />
	<div>
		{% ifequal pg.image_category 'video' %}
			{% ifequal div "content" %}
				<a  class="lightwindow" title="{{pg.image_LNID}}"  id="{{pg.image_LNID}}" href="/s/show148.swf?file=/gallery/images/{{pg.image_name}}" params="lightwindow_width=420,lightwindow_height=333" rel="lightbox[gallery]">{% trans 'view video content' %}</a>
			{% endifequal %}
				<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="105" width="148">
				    <param name="allowScriptAccess" value="sameDomain" />
					<param name="movie" value="/s/show148.swf" />
				    <param name="quality" value="high" />
					<param name="bgcolor" value="#ffffff" />
					<param name="FlashVars" value="file=/gallery/thumbs/{{pg.image_name}}" />
					<embed src="/s/show148.swf" FlashVars="file=/gallery/thumbs/{{pg.image_name}}" quality="high" bgcolor="#ffffff" name="showSWF"  height="105" width="148" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
				</object>	
		{% endifequal %}
		{% ifequal pg.image_category 'audio' %}		
			{% ifequal div "content" %}
				<a  class="lightwindow" title="{{pg.image_LNID}}"  id="{{pg.image_LNID}}" href="/s/show148.swf?file=/gallery/images/{{pg.image_name}}" rel="lightbox[gallery]">{% trans 'listen to audio content' %}</a>
			{% endifequal %}
				<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="105" width="148">
				    <param name="allowScriptAccess" value="sameDomain" />
					<param name="movie" value="/s/show148.swf" />
				    <param name="quality" value="high" />
					<param name="bgcolor" value="#ffffff" />
					<param name="FlashVars" value="file=/gallery/thumbs/{{pg.image_name}}" />
					<embed src="/s/show148.swf" FlashVars="file=/gallery/thumbs/{{pg.image_name}}" quality="high" bgcolor="#ffffff" name="showSWF"  height="105" width="148" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
				</object>
		{% endifequal %}
			
		{% ifequal pg.image_category 'flash' %}
			{% ifequal div "content" %}
				<a  class="lightwindow" title="{{pg.image_LNID}}"  id="{{pg.image_LNID}}" href="/gallery/images/{{pg.image_name}}" rel="lightbox[gallery]">{% trans 'view flash media' %}</a>
			{% endifequal %}
				<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="148" height="105">
		        <param name="movie" value="/gallery/thumbs/{{pg.image_name}}" />
		        <!--[if !IE]>-->
		        <object type="application/x-shockwave-flash" data="/gallery/thumbs/{{pg.image_name}}" width="148" height="105">
		        <!--<![endif]-->
		          <p>No player available for this content</p>
		        <!--[if !IE]>-->
		        </object>
		        <!--<![endif]-->
		      	</object>      
		{% endifequal %}
		{% ifequal pg.image_category 'photo' %}
			{% ifequal div "content" %}
				<a  class="lightwindow" title="{{pg.image_LNID}}"  id="{{pg.image_LNID}}" href="/gallery/images/{{pg.image_name}}" rel="lightbox[gallery]">
			{% endifequal %}
			<img id="{{pg.image_LNID}}-thumb" class="LN-thumb" border="0" src="/gallery/thumbs/{{pg.image_name}}?{{appendix}}" />
			{% ifequal div "content" %}
				</a>
			{% endifequal %}
		{% endifequal %}
		{% ifequal pg.image_category 'illustration' %}
			{% ifequal div "content" %}
				<a  class="lightwindow" title="{{pg.image_LNID}}"  id="{{pg.image_LNID}}" href="/gallery/images/{{pg.image_name}}" rel="lightbox[gallery]">
			{% endifequal %}
			<img id="{{pg.image_LNID}}-thumb" class="LN-thumb" border="0" src="/gallery/thumbs/{{pg.image_name}}?{{appendix}}" />
			{% ifequal div "content" %}
				</a>
			{% endifequal %}
		{% endifequal %}
	</div>

</dt>
<!-- end includeThumbs -->