{% load images_extras %}
{% load i18n %}
<div id="{{album.album_identifier}}-{{item.image_LNID}}-icons" style="position: absolute; top: 7px; left: 7px; background-color: white; height: 10px; -webkit-border-radius: 5px;-moz-border-radius: 5px; border: 1px solid white">
	
	{% ifequal item.copyright 1 %}
	<img title="{% trans 'copyright owed' %}" style="cursor: help;" src="/s/_img_interface/copyright-yes.png?{{appendix}}" border="0" alt="copyright no" />
	{% endifequal %}

	{% ifequal item.copyright 0 %}
	<img title="{% trans 'copyright settled' %}"  style="cursor: help;" src="/s/_img_interface/copyright-no.png?{{appendix}}" border="0" alt="copyright yes" />
	{% endifequal %}

	{% ifequal item.copyright 2 %}
	<img title="{% trans 'copyright unknown' %}"  style="cursor: help;" src="/s/_img_interface/copyright-dontknow.png?{{appendix}}" border="0" alt="copyright don't know" />
	{% endifequal %}
	
	{% if item.document %}
	<img title="{% trans 'this item has an attachment' %}" src="/s/_img_interface/attachment.png" border="0" width="10" height="10" alt="Attachment" />
	{% endif %}
	<img title="{% trans 'Add this item to your favorites'%}" style="cursor: pointer" onclick="favorites.add('{{item.image_LNID}}')" src="/s/_img_interface/arrow-down.png" border="0" width="10" height="10" alt="{% trans 'Add this item to your favorites'%}" />
	<img title="{% trans 'Add this item to your basket'%}" style="cursor: pointer" onclick="createEntry('{{item.image_LNID}}')" src="/s/_img_interface/arrow.png" border="0" width="14" height="10" alt="{% trans 'Add this item to your basket'%}" />
	
	{% if perms.interface.can_edit_content %} 

	<img  style="cursor: pointer" title="{% trans 'Remove this item from album' %} {{album.album_name}} {{item.image_LNID}}" id="dd-{{album.album_identifier}}" onclick="albums._remove(this)" src="/s/_img_interface/images-close/10px.png" border="0" width="10" height="10" alt="Images White Cross On Black Disc" />

	{% endif %}
	
	
</div>

