<!-- includeAlbumControls -->
{% load images_extras %}
{% load i18n %}
<dd style="cursor: pointer; width: 148px;padding-top: 155px; text-align: center;">
<div id="{{pg.album.album_identifier}}-pageLeft" title="{% trans 'Page album left' %}" onmouseover="albums.load('{{pg.album.album_identifier}}', '{{div}}')" class="images-album-pager left"><img src="/s/_img_interface/ln-pageables-left.png" border="0" width="21" height="21" alt="Ln Pageables Left" /></div>
<div id="{{pg.album.album_identifier}}-pageRight" title="{% trans 'Page album right' %}" onmouseover="albums.load('{{pg.album.album_identifier}}','{{div}}')" class="images-album-pager right"><img src="/s/_img_interface/ln-pageables-right.png" border="0" width="21" height="21" alt="Ln Pageables Right" /></div>
</dd>
<!-- end includeAlbumControls -->